@tailwind base;
@tailwind components;
@tailwind utilities;



@layer base {
  @font-face {
    font-family: "IranSans";
    src: url("/fonts/Iranian Sans.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
  }
}


html, body {
  font-family: "IranSans", sans-serif;
  background: var(--background);
  color: var(--foreground);
  margin: 0;
  padding: 0;
}



:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #e1e1e1;
    --foreground: #000000;
  }
}

/* body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
} */

.rtl{
  direction: rtl;
}
.boxWidth{
  width: fit-content;
  min-height: 247px;
  max-width: 275px;
}
.boxWidth>img{
  min-height: 183px;
}